name: Build and Publish Docker Images

env:
  VERSION: 2.21.3
  PGVERSION: 17
  DEBIANRELEASE: trixie
  DOCKERREVISION: 2

on:
  push:
    branches: [master,stable]
    tags:
      - 'v*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: build_and_test
        run: ./build-all
        env:
          VERSION: ${{ env.VERSION }}-${{ env.DOCKERREVISION }}

  build-and-push-pg:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-pg-database
          DIRNAME: ./pg
          SHORT_DESCRIPTION: 'PostgreSQL database ready to use for LemonLDAP::NG'
          VERSION: ${{ env.PGVERSION }}

  build-and-push-base:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-base
          DIRNAME: ./base
          SHORT_DESCRIPTION: 'Base image for lemonldap-ng dockers'

  build-and-push-portal:
    needs: build-and-push-base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-portal
          DIRNAME: ./portal
          SHORT_DESCRIPTION: 'LemonLDAP::NG Portal'

  build-and-push-portal-hiperf:
    needs: build-and-push-base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-portal
          DIRNAME: ./uwsgi-portal
          IMAGE_SUFFIX2: "-hiperf"
          SHORT_DESCRIPTION: no

  build-and-push-pubsub-server:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-pubsub-server
          DIRNAME: ./webpubsub
          SHORT_DESCRIPTION: 'LemonLDAP::NG alternative pub/sub server'

  build-and-push-cron:
    needs: build-and-push-base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-cron
          DIRNAME: ./cron
          SHORT_DESCRIPTION: 'LemonLDAP::NG maintenance tasks runner'

  build-and-push-cron-task:
    needs: build-and-push-base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-cron-task
          DIRNAME: ./cron-task
          SHORT_DESCRIPTION: 'LemonLDAP::NG maintenance tasks'

  build-and-push-sessions-backup:
    needs: build-and-push-base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-sessions-backup
          DIRNAME: ./sessions-backup
          SHORT_DESCRIPTION: 'LemonLDAP::NG sessions backup task'

  build-and-push-manager:
    needs: build-and-push-base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-manager
          DIRNAME: ./manager
          SHORT_DESCRIPTION: 'LemonLDAP::NG Manager'

  build-and-push-full:
    needs: build-and-push-portal
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-full
          DIRNAME: ./full
          SHORT_DESCRIPTION: LemonLDAP::NG Portal and Manager'

  build-and-push-ssoaas-fastcgi-server:
    needs: build-and-push-base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-ssoaas-fastcgi-server
          DIRNAME: ./ssoaas-fastcgi-server
          SHORT_DESCRIPTION: 'LemonLDAP::NG SSOaaS FastCGI Server'

  build-and-push-dev:
    needs: build-and-push-full
    if: startsWith(github.ref, 'refs/tags/') == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-dev
          DIRNAME: ./dev
          SHORT_DESCRIPTION: no

  build-and-push-base-no-s6:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-base
          DIRNAME: ./base-no-s6
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no

  build-and-push-portal-no-s6:
    needs: build-and-push-base-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-portal
          DIRNAME: ./portal
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no

  build-and-push-portal-hiperf-no-s6:
    needs: build-and-push-base-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-portal
          DIRNAME: ./uwsgi-portal
          IMAGE_SUFFIX: "-no-s6"
          IMAGE_SUFFIX2: "-hiperf"
          SHORT_DESCRIPTION: no
          NON-ROOT: yes

  build-and-push-cron-no-s6:
    needs: build-and-push-base-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-cron
          DIRNAME: ./cron
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no
          NON-ROOT: yes

  build-and-push-cron-task-no-s6:
    needs: build-and-push-base-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-cron-task
          DIRNAME: ./cron-task
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no
          NON-ROOT: yes

  build-and-push-sessions-backup-no-s6:
    needs: build-and-push-base-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-sessions-backup
          DIRNAME: ./sessions-backup
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no
          NON-ROOT: yes

  build-and-push-manager-no-s6:
    needs: build-and-push-base-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-manager
          DIRNAME: ./manager
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no
          NON-ROOT: yes

  build-and-push-full-no-s6:
    needs: build-and-push-portal-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-full
          DIRNAME: ./full
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no
          NON-ROOT: yes

  build-and-push-ssoaas-fastcgi-server-no-s6:
    needs: build-and-push-base-no-s6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Common setup
        uses: ./.github/actions/docker-common
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_IMAGE: yadd/lemonldap-ng-ssoaas-fastcgi-server
          DIRNAME: ./ssoaas-fastcgi-server
          IMAGE_SUFFIX: "-no-s6"
          SHORT_DESCRIPTION: no
          NON-ROOT: yes
